<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="inetBankingJune">
 <test name="Banking app">
 <parameter name="browser" value="IE"></parameter>
    <classes> 
     <class name="com.inetBanking.testCases.TC_Login01" />
    </classes>
 </test>
</suite> <!-- Suite -->
